<!DOCTYPE html>
<html lang="es">

<head>
	<title>Acceso a Ehrlich</title>
	<meta charset="UTF-8">
	<link rel="icon" href="/static/assets/img/icono.png" type="image/x-icon">
	<meta name="viewport"
		content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="/static/css/main.css">
	<!-- Asegúrate de incluir jQuery y Bootstrap JS en tu HTML -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body class="cover">|

	<form action="/login" method="POST" autocomplete="off" class="full-box logInForm">
		<p class="text-titles text-center text-muted text-uppercase ">LABORATORIO
			EHRLICH</p>
		<p class="text-center text-muted"><i class="zmdi zmdi-account-circle zmdi-hc-5x"></i></p>
		<p class="text-center text-muted text-uppercase">Inicia sesión </p>
		<div class="form-group label-floating">
			<label class="control-label" for="UserEmail">E-mail</label>
			<input class="form-control" id="UserEmail" name='correo' type="email" style="color: rgb(255, 255, 255);">
			<p class="help-block">Escribe tú E-mail</p>
		</div>
		<div class="form-group label-floating">
			<label class="control-label" for="UserPass">Contraseña</label>
			<input class="form-control" id="UserPass" name='contrasena' type="password"
				style="color: rgb(255, 255, 255);">
			<p class="help-block">Escribe tú contraseña</p>
		</div>
		<div class="form-group text-center">
			<input type="submit" value="Iniciar sesión" class="btn btn-raised btn-danger">
		</div>
	</form>

	<!--====== Scripts -->
	<script src="/static/js/jquery-3.1.1.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/material.min.js"></script>
	<script src="/static/js/ripples.min.js"></script>
	<script src="/static/js/sweetalert2.min.js"></script>
	<script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="/static/js/main.js"></script>
	<script>
		$.material.init();
	</script>
</body>

</html>